*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}

.container{
    
    background-image:linear-gradient(rgba(92, 97, 100, 0.267),rgba(92, 97, 100, 0.267)), url("main.bg.jpg");
    background-position: center; 
    background-size: cover;
    min-height: 80vh;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    max-width: 100%;
    
    
}


.navbar{
    display: flex;
    align-items: center;
    padding: 22px 0px;
    color: azure;
   
}


    
    
UL li {
    margin: 4px 21px;
    display: inline-block;
    font-weight:700;
    list-style: none;
}

.section1{
    margin-top: 8%;
    display: inline-block;
}

nav{
    padding-right: 162px;
  
}





.section1 h1{
    color: azure;
    font-weight: 700;
    font-size: 69px;
    line-height: .9;
    padding-bottom: 20px;
}

.header{
    flex: 1;
}

.section1 p{
    color: azure;
    font-size: 16px;
}

.btn{
    padding: 10px 24px;
    margin:  21px 0;
    color: azure;
    border-radius: 21px;
    background-color: transparent;
    font-weight: 500;
    border: rgb(255, 255, 255) solid 2px;
    font-size: 17px;
    transition: all .4s ease-in;
    

}
.btn:hover{
    letter-spacing: 1px;
    background-color: #080b0f67;
}


.curves{
    display: flex;
    justify-content: space-evenly;
    gap: 13px;
    height: 30vh;
    margin-bottom: 100px;
    margin-top: 10px;
    
}

/* second section */ 
.sectiontxt{
   padding-left: 110px;
    margin-top: 40px;
    font-size: 2.5rem;
    color: rgb(26, 25, 11);
    padding-top: 30px;
    padding-bottom: 12px;;
}



.b1{
    width: 200px;
    height: 200px;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    box-shadow: 
        0px 12px 30px 3px rgba(16, 34, 34, 0.11);
    transition: background .4s;
}
.b1:hover{
    background-color: #c2c6cc;

}

.b2{
    width: 200px;
    height: 200px;
    /*border: 3px solid skyblue;*/
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    box-shadow: 
        0px 12px 30px 3px rgba(16, 34, 34, 0.11);
    transition: background .4s;
}

.b2:hover{
    background-color: #c2c6cc;

}

.b3{
    width: 200px;
    height: 200px;
    /*border: 3px solid skyblue;*/
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    box-shadow: 
        0px 12px 30px 3px rgba(16, 34, 34, 0.11);
    transition: background-color .4s;

}

 .b3:hover{
    background-color: #c2c6cc;

}

.b4{
    width: 200px;
    height: 200px;
    /*border: 3px solid skyblue;*/
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    box-shadow: 
    0px 12px 30px 3px rgba(16, 34, 34, 0.11);
    transition: background .4s;
}
.b4:hover{
    background: #c2c6cc;

}

.bt{
    text-align: center;
    font-weight: 700;
    margin-top: 12px;
    font-size: 21px;
}

/* sticky button on the bottom right corner */
.STICKY{
    height: 100px;
    width: 100px;
    border-radius: 20px 22px;
    position: fixed;
    color:rgb(255, 255, 255);
    text-align: center;
    padding-top: 18px;
    background-color: rgb(56, 87, 122);
    box-shadow:  0px 16px 30px 13px rgba(16, 34, 34, 0.11);
    margin-top: 800px;
   
    z-index: 3;

}
   
.boxdiv{
    padding-left: 8%;
    padding-right: 8%;
    
}
.boxdiv h1{
    color: rgb(8, 10, 12);
    margin-top: 2px;
    padding-bottom: 44px;
}


body{
  
}



.testimonial{
    display: grid;
    grid-gap: 12px;
    min-width: 600px;
    background-color: #1F2937;
    padding: 300;
    margin-bottom: 0;
    border: 20px burlywood transparent;
}

/* grid for bottom section */
.grid-container{
    display: grid;
    grid-gap: 12px;
    margin: 100px;
    grid-auto-columns: 1fr;
    grid-template-columns:repeat(4 1fr);
    min-width: 500px;
 

}



.grid1{
    background-color: rgb(28, 79, 102);
    border-radius: 8px;
    padding: 20px;
    color: rgb(238, 229, 229);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column: 1/3;

}


.grid2{
    background-color: rgb(47, 7, 70);
    border-radius: 8px;
    padding: 20px;
    color: rgb(252, 246, 246);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


.grid3{
    background-color: rgb(156, 196, 15);
    border-radius: 8px;
    padding: 20px;
    color: rgb(240, 217, 217);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column: 2/4;

}

.grid4{
    background-color: bisque;
    border-radius: 8px;
    padding: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-row: 2;
    
    

}

.nav-links li{
    font-weight: 700;
    font-size: 19px;
}



/* hover option for the grid items */
.good:hover{
    background: #4c525a80;
}

.good{
transition: background 0.4s;
}


.nav-links, .header, .side-img{
    cursor: pointer;
}

@media (min-width: 532px) {
.curves{
color: aquamarine;
display: flex;
flex-wrap: wrap;
}
}
